canvas {
    display: inline;
    outline: 1px solid black;
    max-height: 70vh;
    max-width: 100vw;
}
section.wrapper{
        text-align: center;
    }
@media only screen and (max-width: 1500px) {
    body {
      background-color: rgb(252, 11, 160);
    }
    section.half{
        width: 100%;
    }
  }
  @media only screen and (max-width: 1000px) {
    body {
      background-color: rgb(19, 226, 157);
    }}
    @media only screen and (max-width: 600px) {
        body {
          background-color: rgb(245, 171, 11);
        }}
    